name: Compilation_Test
on:
  push:
    branches:
      - 'main'
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Download repo files
        uses: actions/checkout@v6.0.1
      - name: Compile files
        uses: xu-cheng/latex-action@v4
        with:
          working_directory: Report
          root_file: Report.tex
      - name: Upload compiled file
        uses: actions/upload-artifact@v6
        with: 
          name: Italian_Manuscripts_Kraken_OCR_Report
          path: Report/Report.pdf
